obj
debug.log

root/.ssh/id_rsa

bin/ButterflyEmulator.exe
bin/ButterflyEmulator.exe.config
bin/ButterflyEmulator.pdb
bin/MySql.Data.dll
bin/Configuration/settings.ini
bin/Configuration/figuredata.xml